<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>99RedBalloons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7B8027E1D1E1781004771E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7B802921D1E1782004771E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7B8029D1D1E1782004771E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
